/* You can add global styles to this file, and also import other style files */
//body{
//  background-image: url(./assets/white-paper-texture.jpg);
//}
@font-face {
  font-family: myHandWritingFont;
  src: url(./assets/handwriting.ttf);
}
*{
font-family: sans-serif;
}

